<link rel="stylesheet" href="css/footer.css" />
<div class="footer container center">
  <div class="row center">
    <div class="col-8">
      <div class="row">
        <div class="col-6 left">
          <div class="logo">
            <a class="inside" href="/">
              <img src="/img/placeholder.png" data-src="{{logoLink}}" alt="" srcset="" loading="lazy" />
              {{!-- <img src="{{logoLink}}" alt="{{shopname}}" srcset="" /> --}}
              <span>{{shopname}}</span>
            </a>
          </div>
          <h5>Contact Details</h5>
          <p>Address: {{address}}</p>
          <p>Contact us: {{email}}</p>
        </div>
        <div class="col-6 shop">
          <h5>Shop</h5>
          {{#each category}}
          <a href="/"><span>{{this.name}}</span></a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>
<div class="copyright mb-5 center">
  <span>POWERED BY WEBZILLA</span><img src="img/webzilla.png" alt="">
</div>
</div>
<script src="/js/bootstrap.min.js"></script>