<div class="footer container center">
  <div class="row center">
    <div class="col-8">
      <div class="row">
        <div class="col-6 left">
          <div class="logo">
            <a class="inside" href="/">
              <img src="/img/placeholder.png" data-src="{{logoLink}}" alt="" srcset="" loading="lazy" />
              {{!-- <img src="{{logoLink}}" alt="{{shopname}}" srcset="" /> --}}
              <span>{{shopname}}</span>
            </a>
          </div>
          <h5>Contact Details</h5>
          <p>Address: {{address}}</p>
          <p>Contact us: {{email}}</p>
        </div>
        <div class="col-6 shop">
          <h5>Shop</h5>
          {{#each category}}
          <a href="/"><span>{{this.name}}</span></a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="line"></div>
<div class="payment">
  <div class="d-flex flex-row justify-content-center align-items-center gap-10 mb-3" style="">

    <svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_165_84)">
        <path opacity="0.07"
          d="M35 0.0200195H3C1.3 0.0200195 0 1.32002 0 3.02002V21.02C0 22.72 1.4 24.02 3 24.02H35C36.7 24.02 38 22.72 38 21.02V3.02002C38 1.32002 36.6 0.0200195 35 0.0200195Z"
          fill="black"></path>
        <path
          d="M35 1.02002C36.1 1.02002 37 1.92002 37 3.02002V21.02C37 22.12 36.1 23.02 35 23.02H3C1.9 23.02 1 22.12 1 21.02V3.02002C1 1.92002 1.9 1.02002 3 1.02002H35Z"
          fill="white"></path>
        <path
          d="M28.3 10.12H28C27.6 11.12 27.3 11.62 27 13.12H28.9C28.6 11.62 28.6 10.92 28.3 10.12ZM31.2 16.02H29.5C29.4 16.02 29.4 16.02 29.3 15.92L29.1 15.02L29 14.82H26.6C26.5 14.82 26.4 14.82 26.4 15.02L26.1 15.92C26.1 16.02 26 16.02 26 16.02H23.9L24.1 15.52L27 8.72002C27 8.22002 27.3 8.02002 27.8 8.02002H29.3C29.4 8.02002 29.5 8.02002 29.5 8.22002L30.9 14.72C31 15.12 31.1 15.42 31.1 15.82C31.2 15.92 31.2 15.92 31.2 16.02ZM17.8 15.72L18.2 13.92C18.3 13.92 18.4 14.02 18.4 14.02C19.1 14.32 19.8 14.52 20.5 14.42C20.7 14.42 21 14.32 21.2 14.22C21.7 14.02 21.7 13.52 21.3 13.12C21.1 12.92 20.8 12.82 20.5 12.62C20.1 12.42 19.7 12.22 19.4 11.92C18.2 10.92 18.6 9.52002 19.3 8.82002C19.9 8.42002 20.2 8.02002 21 8.02002C22.2 8.02002 23.5 8.02002 24.1 8.22002H24.2C24.1 8.82002 24 9.32002 23.8 9.92002C23.3 9.72002 22.8 9.52002 22.3 9.52002C22 9.52002 21.7 9.52002 21.4 9.62002C21.2 9.62002 21.1 9.72002 21 9.82002C20.8 10.02 20.8 10.32 21 10.52L21.5 10.92C21.9 11.12 22.3 11.32 22.6 11.52C23.1 11.82 23.6 12.32 23.7 12.92C23.9 13.82 23.6 14.62 22.8 15.22C22.3 15.62 22.1 15.82 21.4 15.82C20 15.82 18.9 15.92 18 15.62C17.9 15.82 17.9 15.82 17.8 15.72ZM14.3 16.02C14.4 15.32 14.4 15.32 14.5 15.02C15 12.82 15.5 10.52 15.9 8.32002C16 8.12002 16 8.02002 16.2 8.02002H18C17.8 9.22002 17.6 10.12 17.3 11.22C17 12.72 16.7 14.22 16.3 15.72C16.3 15.92 16.2 15.92 16 15.92M5 8.22002C5 8.12002 5.2 8.02002 5.3 8.02002H8.7C9.2 8.02002 9.6 8.32002 9.7 8.82002L10.6 13.22C10.6 13.32 10.6 13.32 10.7 13.42C10.7 13.32 10.8 13.32 10.8 13.32L12.9 8.22002C12.8 8.12002 12.9 8.02002 13 8.02002H15.1C15.1 8.12002 15.1 8.12002 15 8.22002L11.9 15.52C11.8 15.72 11.8 15.82 11.7 15.92C11.6 16.02 11.4 15.92 11.2 15.92H9.7C9.6 15.92 9.5 15.92 9.5 15.72L7.9 9.52002C7.7 9.32002 7.4 9.02002 7 8.92002C6.4 8.62002 5.3 8.42002 5.1 8.42002L5 8.22002Z"
          fill="#142688"></path>
      </g>
      <defs>
        <clipPath id="clip0_165_84">
          <rect width="38" height="24" fill="white" transform="translate(0 0.0200195)"></rect>
        </clipPath>
      </defs>
    </svg><svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_165_89)">
        <path opacity="0.07"
          d="M35 0.0200195H3C1.3 0.0200195 0 1.32002 0 3.02002V21.02C0 22.72 1.4 24.02 3 24.02H35C36.7 24.02 38 22.72 38 21.02V3.02002C38 1.32002 36.6 0.0200195 35 0.0200195Z"
          fill="black"></path>
        <path
          d="M35 1.02002C36.1 1.02002 37 1.92002 37 3.02002V21.02C37 22.12 36.1 23.02 35 23.02H3C1.9 23.02 1 22.12 1 21.02V3.02002C1 1.92002 1.9 1.02002 3 1.02002H35Z"
          fill="white" style=""></path>
        <path
          d="M15 19.02C18.866 19.02 22 15.886 22 12.02C22 8.15403 18.866 5.02002 15 5.02002C11.134 5.02002 8 8.15403 8 12.02C8 15.886 11.134 19.02 15 19.02Z"
          fill="#EB001B"></path>
        <path
          d="M23 19.02C26.866 19.02 30 15.886 30 12.02C30 8.15403 26.866 5.02002 23 5.02002C19.134 5.02002 16 8.15403 16 12.02C16 15.886 19.134 19.02 23 19.02Z"
          fill="#F79E1B"></path>
        <path
          d="M22 12.0201C22 9.62007 20.8 7.52007 19 6.32007C17.2 7.62007 16 9.72007 16 12.0201C16 14.3201 17.2 16.5201 19 17.7201C20.8 16.5201 22 14.4201 22 12.0201Z"
          fill="#FF5F00"></path>
      </g>
      <defs>
        <clipPath id="clip0_165_89">
          <rect width="38" height="24" fill="white" transform="translate(0 0.0200195)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_165_96)">
        <path opacity="0.07"
          d="M35 0.0200195H3C1.3 0.0200195 0 1.32002 0 3.02002V21.02C0 22.72 1.4 24.02 3 24.02H35C36.7 24.02 38 22.72 38 21.02V3.02002C38 1.32002 36.6 0.0200195 35 0.0200195Z"
          fill="black"></path>
        <path
          d="M35 1.02002C36.1 1.02002 37 1.92002 37 3.02002V21.02C37 22.12 36.1 23.02 35 23.02H3C1.9 23.02 1 22.12 1 21.02V3.02002C1 1.92002 1.9 1.02002 3 1.02002H35Z"
          fill="#006FCF" style=""></path>
        <path
          d="M8.971 10.288L9.745 12.164H8.203L8.971 10.288ZM25.046 10.366H22.069V11.193H24.998V12.432H22.075V13.354H25.052V14.093L27.129 11.848L25.052 9.50802L25.046 10.366ZM10.983 8.02602H14.978L15.865 9.96102L16.687 8.02002H27.057L28.135 9.21002L29.25 8.02002H34.013L30.494 11.872L33.977 15.7H29.143L28.065 14.51L26.94 15.7H10.03L9.536 14.51H8.406L7.911 15.7H4L7.286 8.02002H10.716L10.983 8.02602ZM19.646 9.10402H17.407L15.907 12.64L14.282 9.10402H12.06V13.914L10 9.10402H8.007L5.625 14.616H7.18L7.674 13.426H10.27L10.764 14.616H13.484V10.681L15.235 14.622H16.425L18.165 10.693V14.623H19.623L19.647 9.10302L19.646 9.10402ZM28.986 11.872L31.517 9.10402H29.695L28.094 10.83L26.546 9.10402H20.652V14.622H26.462L28.076 12.884L29.624 14.622H31.499L28.986 11.872Z"
          fill="white"></path>
      </g>
      <defs>
        <clipPath id="clip0_165_96">
          <rect width="38" height="24" fill="white" transform="translate(0 0.0200195)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
      <g clip-path="url(#clip0_165_102)">
        <path opacity="0.07"
          d="M35 0.0200195H3C1.3 0.0200195 0 1.32002 0 3.02002V21.02C0 22.72 1.4 24.02 3 24.02H35C36.7 24.02 38 22.72 38 21.02V3.02002C38 1.32002 36.6 0.0200195 35 0.0200195Z"
          fill="black" style=""></path>
        <path
          d="M35 1.02002C36.1 1.02002 37 1.92002 37 3.02002V21.02C37 22.12 36.1 23.02 35 23.02H3C1.9 23.02 1 22.12 1 21.02V3.02002C1 1.92002 1.9 1.02002 3 1.02002H35Z"
          fill="white" style=""></path>
        <path
          d="M23.9 8.32002C24.1 7.32002 23.9 6.62002 23.3 6.02002C22.7 5.32002 21.6 5.02002 20.2 5.02002H16.1C15.8 5.02002 15.6 5.22002 15.5 5.52002L14 15.62C14 15.82 14.1 16.02 14.3 16.02H17L17.4 12.62L19.2 10.42L23.9 8.32002Z"
          fill="#003087"></path>
        <path
          d="M23.9 8.32007L23.7 8.52007C23.2 11.3201 21.5 12.3201 19.1 12.3201H18C17.7 12.3201 17.5 12.5201 17.4 12.8201L16.8 16.7201L16.6 17.7201C16.6 17.9201 16.7 18.1201 16.9 18.1201H19C19.3 18.1201 19.5 17.9201 19.5 17.7201V17.6201L19.9 15.2201V15.1201C19.9 14.9201 20.2 14.7201 20.4 14.7201H20.7C22.8 14.7201 24.4 13.9201 24.8 11.5201C25 10.5201 24.9 9.72007 24.4 9.12007C24.3 8.62007 24.1 8.42007 23.9 8.32007Z"
          fill="#3086C8"></path>
        <path
          d="M23.3 8.12007C23.2 8.02007 23.1 8.02007 23 8.02007C22.9 8.02007 22.8 8.02007 22.7 7.92007C22.4 7.82007 22 7.82007 21.6 7.82007H18.6C18.5 7.82007 18.4 7.82007 18.4 7.92007C18.2 8.02007 18.1 8.12007 18.1 8.32007L17.4 12.7201V12.8201C17.4 12.5201 17.7 12.3201 18 12.3201H19.3C21.8 12.3201 23.4 11.3201 23.9 8.52007V8.32007C23.8 8.22007 23.6 8.12007 23.4 8.12007H23.3Z"
          fill="#012169" style=""></path>
      </g>
      <defs>
        <clipPath id="clip0_165_102">
          <rect width="38" height="24" fill="white" transform="translate(0 0.0200195)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
      <g clip-path="url(#clip0_165_109)">
        <path opacity="0.07"
          d="M35 0.0200195H3C1.3 0.0200195 0 1.32002 0 3.02002V21.02C0 22.72 1.4 24.02 3 24.02H35C36.7 24.02 38 22.72 38 21.02V3.02002C38 1.32002 36.6 0.0200195 35 0.0200195Z"
          fill="black" style=""></path>
        <path
          d="M35 1.02002C36.1 1.02002 37 1.92002 37 3.02002V21.02C37 22.12 36.1 23.02 35 23.02H3C1.9 23.02 1 22.12 1 21.02V3.02002C1 1.92002 1.9 1.02002 3 1.02002H35Z"
          fill="white" style=""></path>
        <path
          d="M12 12.02V15.72C12 16.02 11.8 16.02 11.5 15.92C9.6 15.12 8.5 12.62 9.2 10.52C9.6 9.42002 10.4 8.52002 11.5 8.12002C11.9 7.92002 12 8.02002 12 8.32002V12.02ZM14 12.02V8.32002C14 8.02002 14 8.02002 14.3 8.12002C16.4 8.92002 17.5 11.42 16.7 13.52C16.3 14.62 15.5 15.52 14.4 15.92C14 16.12 14 16.02 14 15.72V12.02ZM21.2 5.02002H13C16.8 5.02002 19.8 8.12002 19.8 12.02C19.8 15.92 16.8 19.02 13 19.02H21.2C25 19.02 28 15.92 28 12.02C28 8.12002 25 5.02002 21.2 5.02002Z"
          fill="#3086C8" style=""></path>
      </g>
      <defs>
        <clipPath id="clip0_165_109">
          <rect width="38" height="24" fill="white" transform="translate(0 0.0200195)"></rect>
        </clipPath>
      </defs>
    </svg>
    <svg width="38" height="25" viewBox="0 0 38 25" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
      <g clip-path="url(#clip0_165_114)">
        <path opacity="0.07"
          d="M35 0.0200195H3C1.3 0.0200195 0 1.32002 0 3.02002V21.02C0 22.72 1.4 24.02 3 24.02H35C36.7 24.02 38 22.72 38 21.02V3.02002C38 1.32002 36.6 0.0200195 35 0.0200195Z"
          fill="black" style=""></path>
        <path
          d="M35 1.02002C36.1 1.02002 37 1.92002 37 3.02002V21.02C37 22.12 36.1 23.02 35 23.02H3C1.9 23.02 1 22.12 1 21.02V3.02002C1 1.92002 1.9 1.02002 3 1.02002H35Z"
          fill="white" style=""></path>
        <path
          d="M3.57 7.18006H2V12.6801H3.57C4.4 12.6801 5 12.4801 5.53 12.0501C6.16 11.5301 6.53 10.7501 6.53 9.94006C6.52 8.31006 5.31 7.18006 3.57 7.18006ZM4.83 11.3201C4.49 11.6201 4.06 11.7601 3.36 11.7601H3.07V8.12006H3.36C4.05 8.12006 4.47 8.24006 4.83 8.56006C5.2 8.89006 5.42 9.40006 5.42 9.93006C5.42 10.4601 5.2 10.9901 4.83 11.3201ZM7.02 7.18006H8.09V12.6801H7.02V7.18006ZM10.71 9.29006C10.07 9.05006 9.88 8.89006 9.88 8.60006C9.88 8.25006 10.22 7.99006 10.68 7.99006C11 7.99006 11.27 8.12006 11.54 8.44006L12.1 7.71006C11.64 7.31006 11.09 7.10006 10.48 7.10006C9.51 7.10006 8.76 7.78006 8.76 8.68006C8.76 9.44006 9.11 9.83006 10.11 10.1901C10.53 10.3401 10.74 10.4401 10.85 10.5001C11.06 10.6401 11.17 10.8401 11.17 11.0701C11.17 11.5201 10.82 11.8501 10.34 11.8501C9.83 11.8501 9.42 11.5901 9.17 11.1201L8.48 11.7901C8.97 12.5201 9.57 12.8401 10.38 12.8401C11.49 12.8401 12.28 12.1001 12.28 11.0301C12.3 10.1401 11.93 9.74006 10.71 9.29006ZM12.63 9.94006C12.63 11.5601 13.9 12.8101 15.53 12.8101C15.99 12.8101 16.39 12.7201 16.87 12.4901V11.2301C16.44 11.6601 16.06 11.8301 15.58 11.8301C14.5 11.8301 13.73 11.0501 13.73 9.93006C13.73 8.87006 14.52 8.04006 15.53 8.04006C16.04 8.04006 16.43 8.22006 16.87 8.66006V7.40006C16.4 7.16006 16.01 7.06006 15.55 7.06006C13.94 7.06006 12.63 8.34006 12.63 9.94006ZM25.39 10.8801L23.92 7.18006H22.75L25.08 12.8201H25.66L28.03 7.18006H26.87L25.39 10.8801ZM28.52 12.6801H31.56V11.7501H29.59V10.2701H31.49V9.34006H29.59V8.12006H31.56V7.18006H28.52V12.6801ZM35.81 8.81006C35.81 7.78006 35.1 7.19006 33.86 7.19006H32.27V12.6901H33.34V10.4801H33.48L34.96 12.6901H36.28L34.55 10.3701C35.36 10.2001 35.81 9.65006 35.81 8.81006ZM33.65 9.72006H33.34V8.05006H33.67C34.34 8.05006 34.7 8.33006 34.7 8.87006C34.7 9.42006 34.34 9.72006 33.65 9.72006Z"
          fill="#231F20" style=""></path>
        <path
          d="M20.16 12.8801C20.9374 12.8801 21.6829 12.5713 22.2325 12.0216C22.7822 11.4719 23.091 10.7264 23.091 9.94907C23.091 9.17172 22.7822 8.42621 22.2325 7.87654C21.6829 7.32687 20.9374 7.01807 20.16 7.01807C19.3827 7.01807 18.6371 7.32687 18.0875 7.87654C17.5378 8.42621 17.229 9.17172 17.229 9.94907C17.229 10.7264 17.5378 11.4719 18.0875 12.0216C18.6371 12.5713 19.3827 12.8801 20.16 12.8801Z"
          fill="url(#paint0_linear_165_114)"></path>
        <path opacity="0.65"
          d="M20.16 12.8801C20.9374 12.8801 21.6829 12.5713 22.2325 12.0216C22.7822 11.4719 23.091 10.7264 23.091 9.94907C23.091 9.17172 22.7822 8.42621 22.2325 7.87654C21.6829 7.32687 20.9374 7.01807 20.16 7.01807C19.3827 7.01807 18.6371 7.32687 18.0875 7.87654C17.5378 8.42621 17.229 9.17172 17.229 9.94907C17.229 10.7264 17.5378 11.4719 18.0875 12.0216C18.6371 12.5713 19.3827 12.8801 20.16 12.8801Z"
          fill="url(#paint1_linear_165_114)" style=""></path>
        <path
          d="M36.57 7.52598C36.57 7.42598 36.5 7.37598 36.39 7.37598H36.23V7.85598H36.35V7.66598L36.49 7.85598H36.63L36.47 7.65598C36.53 7.64598 36.57 7.59598 36.57 7.52598ZM36.37 7.59598H36.35V7.46598H36.37C36.43 7.46598 36.46 7.48598 36.46 7.52598C36.46 7.57598 36.43 7.59598 36.37 7.59598Z"
          fill="#231F20"></path>
        <path
          d="M36.41 7.19604C36.18 7.19604 35.99 7.38604 35.99 7.61604C35.99 7.84605 36.18 8.03604 36.41 8.03604C36.64 8.03604 36.83 7.84605 36.83 7.61604C36.83 7.38604 36.64 7.19604 36.41 7.19604ZM36.41 7.96604C36.23 7.96604 36.07 7.81604 36.07 7.61604C36.07 7.42605 36.22 7.26604 36.41 7.26604C36.59 7.26604 36.74 7.42605 36.74 7.61604C36.74 7.80604 36.59 7.96604 36.41 7.96604Z"
          fill="#231F20"></path>
        <path
          d="M37 13.0039C37 13.0039 27.09 19.8929 8.976 23.0199H34.999C35.5267 23.0199 36.033 22.8114 36.4076 22.4398C36.7822 22.0682 36.9948 21.5636 36.999 21.0359L37.023 18.0159L37 13.0039Z"
          fill="#F48120" style=""></path>
      </g>
      <defs>
        <linearGradient id="paint0_linear_165_114" x1="21.657" y1="12.2951" x2="19.632" y2="9.12407"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#F89F20"></stop>
          <stop offset="0.25" stop-color="#F79A20"></stop>
          <stop offset="0.533" stop-color="#F68D20"></stop>
          <stop offset="0.62" stop-color="#F58720"></stop>
          <stop offset="0.723" stop-color="#F48120"></stop>
          <stop offset="1" stop-color="#F37521"></stop>
        </linearGradient>
        <linearGradient id="paint1_linear_165_114" x1="21.338" y1="12.2521" x2="18.378" y2="6.46607"
          gradientUnits="userSpaceOnUse">
          <stop stop-color="#F58720"></stop>
          <stop offset="0.359" stop-color="#E16F27"></stop>
          <stop offset="0.703" stop-color="#D4602C"></stop>
          <stop offset="0.982" stop-color="#D05B2E"></stop>
        </linearGradient>
        <clipPath id="clip0_165_114">
          <rect width="38" height="24" fill="white" transform="translate(0 0.0200195)"></rect>
        </clipPath>
      </defs>
    </svg>
  </div>

  <div class="copyright">
    <span>© 2023, {{username}}</span>
  </div>
</div>
<script src="/js/bootstrap.min.js"></script>